<h2 mat-dialog-title>
    {{ categoria.id ? 'Editar Categoria' : 'Nova Categoria' }}
</h2>

<div mat-dialog-content>
    <div class="input-row">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="categoria.nome" name="nome" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="categoria.tipo" name="tipo">
                <mat-option [value]="tipo.Receita">Receita</mat-option>
                <mat-option [value]="tipo.Despesa">Despesa</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</div>